.toggleContainer {
  height: 36px;
  border: 2px solid #888;
  display: flex;
  align-items: center;
  margin-left: 20px;
  padding: 0px 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.toggleOption {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6px;
  font-weight: 600;
  font-size: 14px;
  opacity: 0.3;
  transition: 0.15s;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.toggleOption.selected {
  opacity: 1;
  cursor: default;
}

.toggleOption:not(.selected):hover {
  opacity: 0.5;
}

.toggleSvg {
  margin-right: 4px;
  font-size: 16px;
}

.toggleOption:disabled {
  color: inherit;
}

@media only screen and (max-width: 768px) {
  .travelHeader {
    position: fixed;
    inset: 0;
    z-index: 1;
    flex-direction: column;
    background-color: white;
  }

  .toggleContainer {
    margin-left: 0px;
  }

  .visitButton {
    height: 34px;
    width: 140px;
    justify-content: center;
    border-radius: 44px;
  }

  .travelHeader .visitButton:enabled:hover .buttonIcon {
    margin-left: 8px;
  }
}

@media only screen and (max-width: 1024px) {
  .travelHeader .greetings {
    margin-left: 0px;
  }
}
