.myImages {
  display: flex;
  flex-wrap: wrap;
  position: "relative";
}

.myImages .containerImage {
  width: 33.3333%;
  background-color: transparent;
  border: none;
}

.myImages .image {
  width: 100%;
  visibility: hidden;
  display: block;
}

.myImages .imageLoaded {
  visibility: visible;
}
