.myImages {
  display: flex;
  flex-wrap: wrap;
}

.myImages .containerImage {
  width: 33.3333%;
  background-color: transparent;
  border: none;
  visibility: hidden;
}

.myImages .containerImage:has(.imageLoaded) {
  visibility: visible;
}

.myImages .image {
  width: 0%;
  display: block;
}

.myImages .image.imageLoaded {
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .myImages .containerImage {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .myImages .containerImage {
    width: 100%;
  }
}
