.slider {
  height: 100%;
  padding: 20px 80px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sliderImage {
  display: block;
  max-height: 100%;
  max-width: 80vw;
}

.sliderCloseButton {
  position: absolute;
  left: 20px;
  top: 20px;
}
.sliderCloseButton:active {
  transform: scale(0.95);
}

.sliderButton.simulateCloseButtonActive {
  background-color: rgba(0, 0, 0, 0.6);
}

.sliderDownloadButton {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.sliderDownloadButton:active {
  transform: scale(0.95);
}

.sliderPreviousButton {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.sliderPreviousButton:active {
  left: 16px;
}

.simulatePreviousButtonActive {
  left: 16px;
}

.sliderNextButton {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.sliderNextButton:active {
  right: 16px;
}
.simulateNextButtonActive {
  right: 16px;
}

@media only screen and (max-width: 768px) {
  .slider {
    width: 100vw;
    padding: 20px;
  }

  .sliderImage {
    display: block;
    max-height: 100%;
    max-width: 100%;
  }
}
