.sliderButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.1s;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

.sliderButton:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.sliderButtonIcon {
  font-size: 28px;
}

.sliderButtonIcon path {
  stroke: white;
}
