.slider {
  height: 100%;
  padding: 20px 80px;
  position: relative;
  display: flex;
  align-items: center;
}

.sliderImage {
  display: block;
  max-height: 100%;
}

.sliderCloseButton {
  position: absolute;
  left: 20px;
  top: 20px;
}
.sliderCloseButton:active {
  transform: scale(0.95);
}

.sliderButton.simulateCloseButtonActive {
  background-color: rgba(0, 0, 0, 0.6);
}

.sliderPreviousButton {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.sliderPreviousButton:active {
  left: 16px;
}
.simulatePreviousButtonActive {
  left: 16px;
}

.sliderNextButton {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.sliderNextButton:active {
  right: 16px;
}
.simulateNextButtonActive {
  right: 16px;
}
